---
layout: post
title: LeetCode Problems
---

<style>
  ul {
    padding: 0;
    margin-left: 0;
  }

  /* List element */
  li {
    display: flex;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
  }

  .counter {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: font-weight 0.25s;
  }
  .counter:hover {
    font-weight: 900;
  }

  /* Element separation */
  li + li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  @use postcss-preset-env {
    stage: 0;
    autoprefixer: {
      grid: true;
    }
    browsers: last 2 versions;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active,
  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
</style>
<div style="display: flex; justify-content: space-between">
  <div style="display: flex; width: 100%">
    <ul>
      {% assign sorted = site.leetcode | sort: 'order' %} {% for lc in sorted %}
      <li>
        <h6 style="margin-top: 0; margin-bottom: 5px" class="counter">
          <a href="/all-in-one{{ lc.url }}" target="_blank">{{ lc.title }}</a>
        </h4>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div style="width: 100%; margin-left: 50px">
    <div style="display: flex; flex-direction: column">
      <button class="accordion">Backtracking</button>
      <div class="panel">
        <ul>
          {% assign sorted = site.leetcode | sort: 'order' %} {% for lc in sorted
          %}
          {% if lc.topics contains 'backtracking' %}
          <li>
            <h6 style="margin-top: 0; margin-bottom: 5px">
              <a href="/all-in-one{{ lc.url }}" target="_blank">{{ lc.title }}</a>
            </h4>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

      <button class="accordion">BFS</button>
      <div class="panel">
        <ul>
          {% assign sorted = site.leetcode | sort: 'order' %} {% for lc in sorted
          %}
          {% if lc.topics contains 'BFS' %}
          <li>
            <h6 style="margin-top: 0; margin-bottom: 5px">
              <a href="/all-in-one{{ lc.url }}" target="_blank">{{ lc.title }}</a>
            </h4>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

      <button class="accordion">Bit</button>
      <div class="panel">
        <ul>
          {% assign sorted = site.leetcode | sort: 'order' %} {% for lc in sorted
          %}
          {% if lc.topics contains 'bit' %}
          <li>
            <h6 style="margin-top: 0; margin-bottom: 5px">
              <a href="/all-in-one{{ lc.url }}">{{ lc.title }}</a>
            </h4>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

      <button class="accordion">Binary Search</button>
      <div class="panel">
        <ul>
          {% assign sorted = site.leetcode | sort: 'order' %} {% for lc in sorted
          %}
          {% if lc.topics contains 'binary search' %}
          <li>
            <h6 style="margin-top: 0; margin-bottom: 5px">
              <a href="/all-in-one{{ lc.url }}">{{ lc.title }}</a>
            </h4>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

      <button class="accordion">Design</button>
      <div class="panel">
        <ul>
          {% assign sorted = site.leetcode | sort: 'order' %} {% for lc in sorted
          %}
          {% if lc.topics contains 'design' %}
          <li>
            <h6 style="margin-top: 0; margin-bottom: 5px">
              <a href="/all-in-one{{ lc.url }}">{{ lc.title }}</a>
            </h4>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

      <button class="accordion">DFS</button>
      <div class="panel">
        <ul>
          {% assign sorted = site.leetcode | sort: 'order' %} {% for lc in sorted
          %}
          {% if lc.topics contains 'DFS' %}
          <li>
            <h6 style="margin-top: 0; margin-bottom: 5px">
              <a href="/all-in-one{{ lc.url }}">{{ lc.title }}</a>
            </h4>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

      <button class="accordion">Dynamic Programming</button>
      <div class="panel">
        <ul>
          {% assign sorted = site.leetcode | sort: 'order' %} {% for lc in sorted
          %}
          {% if lc.topics contains 'dynamic programming' %}
          <li>
            <h6 style="margin-top: 0; margin-bottom: 5px">
              <a href="/all-in-one{{ lc.url }}">{{ lc.title }}</a>
            </h4>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

      <button class="accordion">Math</button>
      <div class="panel">
        <ul>
          {% assign sorted = site.leetcode | sort: 'order' %} {% for lc in sorted
          %}
          {% if lc.topics contains 'math' %}
          <li>
            <h6 style="margin-top: 0; margin-bottom: 5px">
              <a href="/all-in-one{{ lc.url }}" target="_blank">{{ lc.title }}</a>
            </h4>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

      <button class="accordion">Tree</button>
      <div class="panel">
        <ul>
          {% assign sorted = site.leetcode | sort: 'order' %} {% for lc in sorted
          %}
          {% if lc.topics contains 'tree' %}
          <li>
            <h6 style="margin-top: 0; margin-bottom: 5px">
              <a href="/all-in-one{{ lc.url }}" target="_blank">{{ lc.title }}</a>
            </h4>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>


      
    </div>
  </div>
</div>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>
