---
layout: post
title: System Design
---

<h2>System Design</h2>
<ul>
  {% assign sorted = site.system_design | sort: 'order' %} {% for sd in sorted
  %} {% if sd.path contains 'frontend' %} {% else%}
  <li>
    <h4><a href="/all-in-one{{ sd.url }}">{{ sd.title }}</a></h4>
  </li>
  {% endif %} {% endfor %}
</ul>

<h2>Frontend System Design</h2>
<ul>
  {% assign sorted = site.system_design | sort: 'order' %} {% for sd in sorted
  %} {% if sd.path contains 'frontend' %}
  <li>
    <h4><a href="/all-in-one{{ sd.url }}">{{ sd.title }}</a></h4>
  </li>
  {% endif %} {% endfor %}
</ul>
