.card {
    position: relative;
    height: 20rem;
    width: 20%;
}

.card__side {
    height: 20rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
}

.card__side--front {
    background-color: green;
}

.card__side--back {
    transform: rotateY(180deg);
    background-color: yellow;
}
